<%- include('../partials/header') %>

  <main class="flex-fill">
    <section class="container mt-3">
      <div class="card-header row g-2 align-items-center">
        <div class="col-md-4">
          <h3 class="mb-0">Lista de Personajes</h3>
        </div>
        <div class="col-md-6">
          <form class="d-flex" method="GET" action="/personajes/search">
            <input type="text" name="q" class="form-control me-2" placeholder="Buscar personaje por nombre, especie o territorio..." value="<%= searchTerm || '' %>" />
            <button type="submit" class="btn btn-outline-primary"><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
        </div>
        <div class="col-md-2 text-end">
          <a href="/personajes/create" class="btn btn-sm btn-primary">Registrar</a>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-sm table-striped">
          <thead>
            <tr>
              <th>N°</th>
              <th>Nombre</th>
              <th>Especie</th>
              <th>Género</th>
              <th>Edad</th>
              <th>Territorio</th>
              <th>Operaciones</th>
            </tr>
          </thead>
          <tbody>
            <% personajes.forEach((personaje, index)=> { %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= personaje.NOMBRE %></td>
                <td><%= personaje.ESPECIE %></td>
                <td><%= formatGender(personaje.GENERO) %></td>
                <td><%= personaje.EDAD %></td>
                <td><%= personaje.TERRITORIO %></td>
                <td>
                  <a href="/personajes/view/<%= personaje.ID %>" class="btn btn-sm btn-success"><i class="fa-solid fa-circle-info"></i></a>
                  <a href="/personajes/edit/<%= personaje.ID %>" class="btn btn-sm btn-info"><i class="fa-solid fa-pen-to-square"></i></a>
                  <a href="/personajes/delete/<%= personaje.ID %>" class="btn btn-sm btn-danger" onclick=" return consult('eliminar')"><i class="fa-solid fa-trash"></i></a>
                </td>
              </tr>
              <% }) %>
              <% if (personajes.length === 0) { %>
                <tr>
                  <td colspan="7" class="text-center">
                    No se encontraron resultados<%= searchTerm ? ` para "${searchTerm}"` : '' %>.
                  </td>
                </tr>
              <% } %>
          </tbody>
        </table>
      </div>
    </section>
  </main>

  <%- include('../partials/footer') %>