<%- include('../partials/header') %>

    <main class="container my-5">
        <div class="card">
            <div class="card-header">
                <h2>
                    <%= personaje.NOMBRE %>
                </h2>
            </div>
            <div class="card-body">
                <% if (personaje.IMAGE_URL) { %>
                    <img src="<%= personaje.IMAGE_URL %>" alt="Imagen de <%= personaje.NOMBRE %>"
                    class="rounded mx-auto d-block mb-3" style="height: 40em; object-fit: cover;">
                <% } else { %>
                    <img src="/images/image-not-found.jpg" alt="Imagen no encontrada"
                    class="rounded mx-auto d-block mb-3" style="height: 40em; object-fit: cover;">
                <% }%>
                            <p><strong>Especie:</strong>
                                <%= personaje.ESPECIE %>
                            </p>
                            <p><strong>Género:</strong>
                                <%= formatGender(personaje.GENERO) %>
                            </p>
                            <p><strong>Edad:</strong>
                                <%= personaje.EDAD %>
                            </p>
                            <p><strong>Territorio:</strong>
                                <%= personaje.TERRITORIO %>
                            </p>
                            <p><strong>Habilidades:</strong>
                                <%= personaje.HABILIDADES || 'No especificadas' %>
                            </p>
                            <p><strong>Descripción:</strong><br>
                                <%= personaje.DESCRIPCION %>
                            </p>
                            <a href="/personajes" class="btn btn-outline-primary mt-3">Volver a la lista</a>
            </div>
        </div>
    </main>

<%- include('../partials/footer') %>